.box{
    border: 1px solid black;
    width: 400px;
    height: 800px;
    margin-left: 350px;
    margin-top: 70px;
}
.img_logo{
    margin-left: 150px;
    margin-top: 30px;
}
.btnCreate{
    background-color:transparent;
}
